// Typography
.f-i {
  font-style: italic;
}

.f-400 {
  font-weight: 400
}
.f-600 {
  font-weight: 600
}
.f-700 {
  font-weight: 700
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap');
.font-01 {
  font-family: 'Public Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
.font-02 {
  font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;700&display=swap');
.font-03 {
  font-family: 'Heebo', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');
.font-04 {
  font-family: 'Lora', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;600;700&display=swap');
.font-05 {
  font-family: 'Mukta Mahee', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600;700&display=swap');
.font-06 {
  font-family: 'Cormorant', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
.font-07 {
  font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
.font-08 {
  font-family: 'Playfair Display', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;600;700&display=swap');
.font-09 {
  font-family: 'Spectral', serif;
}